In [38]:
import numpy as np
import pandas as pd

In [39]:
Order_report = pd.read_csv("Order Report.csv")
Courier_rates = pd.read_csv("Courier Company - Rates.csv")
courier_invoice = pd.read_csv("Invoice.csv")
sku_master = pd.read_csv("SKU Master.csv")
pincode_mapping = pd.read_csv("pincodes.csv")

In [40]:
#Checking for missing values
Order_report.info()
Courier_rates.info()
courier_invoice.info()
sku_master.info()
pincode_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
 3   Unnamed: 3     0 non-null      float64
 4   Unnamed: 4     0 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 15.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fwd_a_fixed       1 non-null      float64
 1   fwd_a_additional  1 non-null      float64
 2   fwd_b_fixed       1 non-null      int64
 3   fwd_b_additional  1 non-null      float64
 4   fwd_c_fixed       1 non-null      float64
 5   fwd_c_additional  1 non-null      float64
 6   fwd_d_fixed       1 non-null      float64
 7   fwd_d_additional  1 non-null      float64
 8   fwd_e_fixed       1 non-null      float64
 9   fwd_e_additional  1 non-null      float64
 10  rto_a_fixed       1 non-null      float64
 11  rto_a_additional  1 non-null      float64
 12  rto_b_fixed       1 non-null      float64
 13  rto_b_additional  1 non-null      float64
 14  rto_c_fixed       1 non-null      float64
 15  rto_c_additional  1 non-null      float64
 16  rto_d_fixed       1 non-null      float64
 17  rto_d_additional  1 non-null      float64
 18  rto_e_fixed       1 non-null      float64
 19  rto_e_additional  1 non-null      float64
dtypes: float64(19), int64(1)
memory usage: 292.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   Unnamed: 4  0 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Warehouse Pincode  124 non-null    int64
 1   Customer Pincode   124 non-null    int64
 2   Zone               124 non-null    object
 3   Unnamed: 3         0 non-null      float64
 4   Unnamed: 4         0 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 5.0+ KB

In [41]:
#Dropped column with missing values
Order_report.drop(columns=["Unnamed: 3", "Unnamed: 4"], inplace=True)
Order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [42]:
#No missing values in this DF
Courier_rates.head()
courier_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [43]:
#Dropping columns with missing values
sku_master.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"],inplace=True)
sku_master

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [44]:
#Dropping columns with missing values
pincode_mapping.drop(columns=["Unnamed: 3", "Unnamed: 4"], inplace=True)
pincode_mapping.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [45]:
Order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [46]:
merged_data = pd.merge(Order_report, sku_master, on="SKU")
merged_data.head()

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001827036  8904223818706        1.0         127
1     2001827036  8904223819093        1.0         150
2     2001827036  8904223819109        1.0         100
3     2001827036  8904223818430        1.0         165
4     2001827036  8904223819277        1.0         350

In [47]:
#ExternalOrderNo is nothing but Order ID. Changing the name of column
merged_data.rename(columns={"ExternOrderNo": "Order ID"}, inplace=True)

In [48]:
abc_courier = pincode_mapping.drop_duplicates(subset=['Customer Pincode'])
abc_courier

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
114             121003            324008    b
115             121003            302020    b
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b

[108 rows x 3 columns]

In [49]:
courier_abc = courier_invoice[["Order ID", "Customer Pincode", "Type of Shipment"]]
courier_abc

       Order ID  Customer Pincode         Type of Shipment
0    2001806232            507101          Forward charges
1    2001806273            486886          Forward charges
2    2001806408            532484          Forward charges
3    2001806458            143001          Forward charges
4    2001807012            515591          Forward charges
..          ...               ...                      ...
119  2001812941            325207          Forward charges
120  2001809383            303702  Forward and RTO charges
121  2001820978            313301          Forward charges
122  2001811475            173212          Forward charges
123  2001811305            302020          Forward charges

[124 rows x 3 columns]

In [50]:
pincodes = pd.merge(courier_abc, abc_courier, on="Customer Pincode")
pincodes

,Order ID,Customer Pincode,Type of Shipment,Warehouse Pincode,Zone
0,2001806232,507101,Forward charges,121003,d
1,2001806273,486886,Forward charges,121003,d
2,2001806408,532484,Forward charges,121003,d
3,2001806458,143001,Forward charges,121003,b
4,2001807012,515591,Forward charges,121003,d
...,...,...,...,...,...
119,2001812941,325207,Forward charges,121003,b
120,2001809383,303702,Forward and RTO charges,121003,b
121,2001820978,313301,Forward charges,121003,b
122,2001811475,173212,Forward charges,121003,e
123,2001811305,302020,Forward charges,121003,b

In [51]:
merged2 = pd.merge(merged_data, pincodes, on="Order ID")
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Zone
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e
...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,421204,Forward charges,121003,d
397,2001806229,8904223818850,1.0,240,421204,Forward charges,121003,d
398,2001806226,8904223818850,2.0,240,723146,Forward charges,121003,d
399,2001806210,8904223816214,1.0,120,140604,Forward charges,121003,b
400,2001806210,8904223818874,1.0,100,140604,Forward charges,121003,b

In [52]:
merged2["Weight (Kgs)"] = merged2["Weight (g)"]/1000

In [53]:
def weight_slab(weight):
    i = round(weight %1,1)
    if i == 0.0:
        return weight
    elif weight > 0.5:
        return int(weight) + 1.0
    else:
        return int(weight) + 0.5

In [54]:
merged2["Weight Slabs (Kgs)"] = merged2["Weight (Kgs)"].apply(weight_slab)

In [55]:
courier_invoice["Weight slab charged by courier company"] = courier_invoice["Charged Weight"].apply(weight_slab)

In [56]:
#Renaming columns
courier_invoice = courier_invoice.rename(columns={"Zone": "Delivery Zone Charged by Courier Company"})
courier_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Delivery Zone Charged by Courier Company,Type of Shipment,Billing Amount (Rs.),Weight slab charged by courier company
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,2.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,3.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.5
...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,1.0
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,0.5
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,0.5
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,0.5
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,0.5

In [57]:
#Renaming the columns
merged2.rename(columns={"Zone": "Delivery Zone As Per ABC", "Weight Slabs (Kgs)": "Weight Slab As Per ABC"}, inplace=True)

In [58]:
merged2.head()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone As Per ABC,Weight (Kgs),Weight Slab As Per ABC
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5

In [59]:
Courier_rates

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [60]:
total_expected_charge = []

for _,row in merged2.iterrows():
    fwd_category = 'fwd_' + row['Delivery Zone As Per ABC']
    fwd_fixed = Courier_rates.at[0, fwd_category + '_fixed']
    fwd_additional = Courier_rates.at[0,fwd_category + '_additional']
    rto_category = 'rto_' + row["Delivery Zone As Per ABC"]
    rto_fixed = Courier_rates.at[0, rto_category + "_fixed"]
    rto_additional = Courier_rates.at[0, rto_category + '_additional']
    
    weight_slab = row["Weight Slab As Per ABC"]
    
    if row["Type of Shipment"] == 'Forward charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * fwd_additional)
    elif row['Type of Shipment'] == 'Forward and RTO charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * (fwd_additional + rto_additional))
    else:
        total_expected_charge.append(0)

merged2["Expected charge as per ABC"] = total_expected_charge

In [61]:
merged2.head()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone As Per ABC,Weight (Kgs),Weight Slab As Per ABC,Expected charge as per ABC
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5,56.6
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5,56.6
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5,56.6
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5,56.6
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5,56.6

In [62]:
merged_output = merged2.merge(courier_invoice, on="Order ID")
merged_output.head()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode_x,Type of Shipment_x,Warehouse Pincode_x,Delivery Zone As Per ABC,Weight (Kgs),Weight Slab As Per ABC,Expected charge as per ABC,AWB Code,Charged Weight,Warehouse Pincode_y,Customer Pincode_y,Delivery Zone Charged by Courier Company,Type of Shipment_y,Billing Amount (Rs.),Weight slab charged by courier company
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5,56.6,1091122418320,1.6,121003,173213,b,Forward charges,117.9,2.0

In [63]:
df_diff = merged_output

In [64]:
df_diff["Difference (Rs.)"] = df_diff["Billing Amount (Rs.)"] - df_diff["Expected charge as per ABC"]

In [65]:
df_new = df_diff[["Order ID", "Difference (Rs.)", "Expected charge as per ABC"]]

In [66]:
df_new

       Order ID  Difference (Rs.)  Expected charge as per ABC
0    2001827036              61.3                        56.6
1    2001827036              61.3                        56.6
2    2001827036              61.3                        56.6
3    2001827036              61.3                        56.6
4    2001827036              61.3                        56.6
..          ...               ...                         ...
396  2001806229              44.8                        45.4
397  2001806229              44.8                        45.4
398  2001806226              44.8                        45.4
399  2001806210             141.5                        33.0
400  2001806210             141.5                        33.0

[401 rows x 3 columns]

In [67]:
df_new[df_new["Difference (Rs.)"] == 0]["Order ID"].count()

np.int64(12)

In [68]:
#Calculating the total orders in each category
total_correctly_charged = len(df_new[df_new["Difference (Rs.)"] == 0])
total_overcharged = len(df_new[df_new["Difference (Rs.)"] > 0])
total_undercharged = len(df_new[df_new["Difference (Rs.)"] < 0])

In [69]:
#Calculating the total amount in each category
amount_overcharged = df_new[df_new["Difference (Rs.)"] > 0]["Difference (Rs.)"].sum()
amount_undercharged = df_new[df_new["Difference (Rs.)"] < 0]["Difference (Rs.)"].sum()
amount_correctly_charged = df_new[df_new["Difference (Rs.)"] == 0]["Expected charge as per ABC"].sum()

In [70]:
Summary_data= {"Description" : ["Total Orders where ABC has been correctly charged",
                        "Total Orders where ABC has been overcharged",
                        "Total Orders where ABC has been undercharged"],
            'count': [total_correctly_charged, total_overcharged, total_undercharged],
            'Amount (Rs.)': [amount_correctly_charged, amount_overcharged, amount_undercharged]}

In [71]:
#Creating a Dataframe  for summary Data
df_summary = pd.DataFrame(Summary_data)
df_summary

                                         Description  count  Amount (Rs.)
0  Total Orders where ABC has been correctly charged     12         507.6
1        Total Orders where ABC has been overcharged    382       33750.5
2       Total Orders where ABC has been undercharged      7        -165.2

In [72]:
#Importing plotly to visualize the data
import plotly.graph_objects as go

In [73]:
fig = go.Figure(data=go.Pie( labels= df_summary["Description"],
                      values= df_summary["count"],
                      textinfo= 'label+percent',
                      hole= 0.4))

fig.update_layout(title = "Proportion")

fig.show()